<!DOCTYPE html>
<html>
<head>
<title>Doctor - Index</title>
<link rel="stylesheet" type="text/css" href="../../content/css/main.css">
<link rel="stylesheet" type="text/css" href="../../content/css/navigation.css">
<script src="../../scripts/addons/angular.min.js"></script>
</head>
<body ng-app="mainApp" ng-controller = "homeController" class="ng-cloak">

<div id="layoutHeader">
    <h1>FPMS</h1>
    <h3>(Family Physician Management System)</h3>

    <div>
        <a ng-click="logout()">{{ userName }}</a>
    </div>
</div>

<div id="layoutBody">
    <nav id="mainNavigation">
        <ul>
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="../doctor/index.html">Doctors</a></li>
            <li><a href="../patient/index.html">Patients</a></li>
            <li><a href="../reports/index.html">Reports</a></li>
        </ul>
    </nav>

    <div id="content" class="contentMargins">
        <div class="topAccent"><br/></div>
        <div id="textArea">
            <h2>Welcome!!!</h2>
            <h4>This is the Family Physician Management System, or, FPMS for short. This system is designed to make manageing doctor and patient information far easier.</h4>
            <h4>To start, please navigate to either the doctor or patient section of the site, via the above navigation.</h4>
        </div>
        <div class="bottomAccent"><br/></div>
    </div>
</div>

<div id="layoutFooter">
    <br/>
</div>

<script src="../../scripts/addons/jquery-3.1.0.min.js"></script>
<script src="../../scripts/other/checkauthentication.js"></script>
<script src="../../scripts/controllers/homecontroller.js"></script>

</body>
</html>